* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.carsBackgroud {
  background-image: url("./layout/mainHeader/imageHeader/cars-backgroud-1.png");
}
#UserNewCars div {
  border-radius: 5px;
}
#UserNewCars {
  left: -40px;
  top: 20px;
}
#priceRange div {
  border-radius: 15px;
}
#priceRange {
  top: 20px;
  left: -40px;
}
#vehicleType div {
  border-radius: 15px;
}
#vehicleType {
  top: 20px;
  left: -40px;
}
.featuredvehicles {
  cursor: pointer;
}
.scroll::-webkit-scrollbar {
  width: 0;
}
.unsplash {
  background-image: url("./page/homePage/Rectangle/unsplash_SV3e7hGlVnc.png");
  width: 1366px;
  background-size: cover;
  height: 694px;
  background-repeat: no-repeat;
  margin: 0;
}
.sub div {
  height: 38px;
}
.slick-slider {
  width: 1366px;
  /* position: absolute !important;
  top: 175px;
  left: 0px; */
}
.slick-track {
  display: flex !important;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  padding: 0px;
}
.slick-track::before,
.slick-track::after {
  content: none;
}
.slick-slide {
  width: 415px !important;
}
.slick-prev {
  left: 0 !important;
  display: none !important;
}
.slick-next {
  right: 0 !important;
  display: none !important;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .unsplash {
    background-image: url("./page/homePage/Rectangle/unsplash_SV3e7hGlVnc-1.png");
    height: 694px;
    width: 375px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carsBackgroud {
    background-image: url("./layout/mainHeader/imageHeader/cars-backgroud-1.png");
  }
  .CarbuyerLogo {
    width: 158px;
    height: 48px;
  }
  .slick-slider {
    width: 375px;
  }
  .locationIcon {
    width: 14px;
    height: 14px;
  }
  .slick-list {
    width: 455px;
  }
  #UserNewCars {
    left: 10px;
    top: 10px;
  }
  #priceRange {
    top: 0px;
    left: 0px;
  }
  #vehicleType {
    top: 0px;
    left: 0px;
  }
}
