* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.carsBackgroud {
  background-image: url("./layout/mainHeader/imageHeader/cars-backgroud-1.png");
}
#UserNewCars div {
  border-radius: 5px;
}
#UserNewCars {
  left: -40px;
  top: 20px;
}
#priceRange div {
  border-radius: 15px;
}
#priceRange {
  top: 20px;
  left: -40px;
}
#vehicleType div {
  border-radius: 15px;
}
#vehicleType {
  top: 20px;
  left: -40px;
}
.featuredvehicles {
  cursor: pointer;
}
.scroll::-webkit-scrollbar {
  width: 0;
}
.unsplash {
  background-image: url("./page/homePage/Rectangle/unsplash_SV3e7hGlVnc.png");
  width: 100%;
  height: 694px;
  background-repeat: no-repeat;
  margin: 0;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .unsplash {
    background-image: url("./page/homePage/Rectangle/unsplash_SV3e7hGlVnc-1.png");
    height: 694px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .carsBackgroud {
    background-image: url("./layout/mainHeader/imageHeader/cars-backgroud-1.png");
  }
  .CarbuyerLogo {
    width: 158px;
    height: 48px;
  }
  .locationIcon {
    width: 14px;
    height: 14px;
  }
  .slick-next:before {
    display: none;
  }
  .slick-next {
    right: 0;
    display: none;
  }
  .slick-prev::before {
    display: none;
  }
  .slick-prev {
    flex: 0;
  }
  #UserNewCars {
    left: 10px;
    top: 10px;
  }
  #priceRange {
    top: 0px;
    left: 0px;
  }
  #vehicleType {
    top: 0px;
    left: 0px;
  }
}
